In [1]:
import pandas as pd

In [2]:
pd.read_excel(r"C:\Users\hanis\OneDrive\Desktop\sample.xlsx")

      e_name  e_id  e_class
0  hnaishai      1        1
1      sunil     2        2

In [4]:
pd.read_csv(r"C:\Users\hanis\OneDrive\Desktop\name.tsv",sep='\t')

      name  id  number
0  hanisha   1       1
1    sunil   2       2

In [5]:
import os

In [7]:
os.getcwd()

'C:\\Users\\hanis'

In [8]:
import pandas as pd

In [9]:
pd.read_csv(r"sample.csv")

      e_name  e_id  e_class
0  hnaishai      1        1
1      sunil     2        2
2    krishna     3        3